<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fabian" connectionString="Server=DESKTOP-N5SVJSE\\SQLEXPRESS;Initial Catalog=facturacion_electronica;Integrated Security=True;" />
        <add name="DAL_FacturacionElectronica.Properties.Settings.connect"
            connectionString="Server=DESKTOP-N5SVJSE\\SQLEXPRESS;Initial Catalog=facturacion_electronica;Integrated Security=True;" />
    </connectionStrings>
</configuration>