<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Coime" connectionString="Server=DESKTOP-OQI8SVP\\SQLEXPRESS;Initial Catalog=FacturacionElectronica;Integrated Security=True;"/>
		<add name="DAL_FacturacionElectronica.Properties.Settings.connect" 
			 connectionString="Server=DESKTOP-OQI8SVP\\SQLEXPRESS;Initial Catalog=FacturacionElectronica;Integrated Security=True;"/>
	</connectionStrings>
</configuration>